# Unity 產生的垃圾資料夾
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Aa]rtifacts/
/[Uu]serSettings/

# 常見專案垃圾檔
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boop
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 系統隱藏檔
.DS_Store
Thumbs.db
Assets/_Recovery
Assets
Packages
ProjectSettings
